@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Monoton&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-size: 3em !important;
  margin-bottom: 30px;
}
@media (max-width:991px) {
  h1 {
    font-size: 2em !important;
  }
}

ul {
  list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
}
@media (max-width:767px) {
  .container {
    padding: 30px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .container {
    width: 800px;
  }
}
@media (min-width:992px) and (max-width:1200px) {
  .container {
    width: 1000px;
  }
}
@media (min-width:1201px) {
  .container {
    width: 1200px;
  }
}

.viewAll {
  text-align: center;
  position: relative;
  padding-top: 20px;
  color: #707070;
}
.viewAll i {
  cursor: pointer;
  font-size: 1.2em;
}
.viewAll::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 2px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #707070;
}

.share {
  margin-top: 80px;
  text-align: center;
}
.share .icons {
  position: relative;
  height: 50px;
  overflow: hidden;
}
.share .icons .icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.share .icons i {
  margin-left: 20px;
  font-size: 1.3em;
  color: #707070;
  margin-bottom: 10px;
}
.share .viewAll i {
  position: absolute;
  margin-left: 15px;
}

.corner {
  position: absolute;
  width: 50%;
  height: 81%;
  top: 33%;
  right: 27%;
  z-index: 1;
  border: 1px solid #757575;
}
@media (max-width:767px) {
  .corner {
    display: none;
  }
}
.corner span {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
}
.corner span.bottom_left {
  left: 0;
  bottom: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}
.corner span.bottom_right {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
}
.corner span.top_left {
  top: 0;
  left: 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.corner span.top_right {
  top: 0;
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.main_txt {
  position: absolute;
  top: 86%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  bottom: 0;
}
@media (max-width:767px) {
  .main_txt {
    width: 100%;
    top: 74%;
    left: 54%;
    z-index: 4;
  }
}
.main_txt div {
  background: url("../../img/discover.png");
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  padding: 24px 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width:767px) {
  .main_txt div {
    padding-right: 58px;
  }
}
.main_txt div i {
  color: white;
  border: 1px solid #b1323c;
  padding: 15px;
  margin: 0 12px 0 -15px;
  border-radius: 50%;
  font-size: 20px;
}
.main_txt div h3 {
  color: white;
  font-weight: 900;
  line-height: 1.5;
}
@media (max-width:767px) {
  .main_txt div h3 {
    font-size: 20px;
  }
}
.main_txt div h3 p {
  font-size: 13px;
}

.main_img {
  width: 60%;
  position: relative;
  z-index: 4;
}
@media (max-width:767px) {
  .main_img {
    width: 150%;
    display: none;
  }
}

.small_img {
  display: none;
}
@media (max-width:767px) {
  .small_img {
    margin-top: 50px;
    display: block;
  }
}

.red {
  width: 100%;
  padding-top: 7.5%;
  background-color: #b1323c;
  margin-bottom: 20px;
}
@media (max-width:767px) {
  .red {
    padding-top: 13.5%;
  }
}

.blue {
  width: 100%;
  padding-top: 12.5%;
  background-color: #29a3fb;
}
@media (max-width:767px) {
  .blue {
    padding-top: 20%;
  }
}

header {
  padding: 10px 20px;
}
header.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-filter: drop-shadow(3px 2px 2px #01428c);
          filter: drop-shadow(3px 2px 2px #01428c);
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav_icon {
  cursor: pointer;
}
header nav .nav_icon span {
  display: block;
  width: 20px;
  height: 2px;
  margin-top: 5px;
  background-color: #707070;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
header nav .nav_icon span:first-of-type {
  margin-top: 0;
}
header nav .nav_icon.toggle_nav span:first-of-type {
  -webkit-transform: rotate(45deg) translate(1px, 4px);
          transform: rotate(45deg) translate(1px, 4px);
}
header nav .nav_icon.toggle_nav span:nth-of-type(2) {
  display: none;
}
header nav .nav_icon.toggle_nav span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -4px);
          transform: rotate(-45deg) translate(1px, -4px);
}
header nav img {
  width: initial;
}
header nav .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width:991px) {
  header nav .location p {
    display: none;
  }
}
header nav .location i {
  margin-left: 10px;
}

.navigator {
  position: fixed;
  width: 100%;
  top: 65px;
  z-index: 100;
  left: 0;
  height: 100vh;
  padding: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: url("https://www.bugatti.com/fileadmin/_processed_/sei/nav/se-image-b967a56a304f615df7b4600bd9d56e31.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width:767px) {
  .navigator {
    background: url("https://www.bugatti.com/fileadmin/_processed_/sei/nav/se-image-fe3d498aa93c353f2dc9285c0f02c428.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.navigator.show_hide_nav {
  opacity: 0;
  z-index: -1;
  -webkit-animation: hide_show 0.1s forwards;
          animation: hide_show 0.1s forwards;
}
@-webkit-keyframes hide_show {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
@keyframes hide_show {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
.navigator ul li {
  margin-top: 15px;
}
.navigator ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
  font-weight: 900;
  font-size: 4em;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
@media (max-width:1200px) {
  .navigator ul li a {
    display: block;
    font-size: 2em;
  }
}
.navigator ul li a:hover {
  color: white;
}
.navigator ul li a ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  margin-left: 20px;
  width: 0px;
  overflow: hidden;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
@media (max-width:1200px) {
  .navigator ul li a ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
    height: 0px;
  }
}
.navigator ul li a ul li {
  margin-left: 10px;
}
.navigator ul li a ul li:hover {
  text-decoration: underline;
}
.navigator ul li a:hover ul {
  width: 100%;
}
@media (max-width:1200px) {
  .navigator ul li a:hover ul {
    height: 160px;
  }
}

footer {
  margin-top: 30px;
  background-color: black;
  padding: 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .foot_icons {
  color: white;
}
footer .foot_icons i {
  margin-left: 20px;
  cursor: pointer;
}
footer p {
  color: #707070;
  margin: 30px 0;
  font-size: 12px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
footer ul li {
  margin: 0 15px;
  padding: 15px 0;
}
footer ul li a {
  color: #707070;
  font-size: 12px;
}
footer ul li a:hover {
  text-decoration: underline;
}

.life_banner {
  background: url("https://www.bugatti.com/fileadmin/_processed_/sei/p379/se-image-13c1899b8aaedc68f8cc72c87ad392c8.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 100px 30px;
  color: white;
}
@media (min-width:768px) and (max-width:1200px) {
  .life_banner {
    text-align: center;
    background: url("https://www.bugatti.com/fileadmin/_processed_/sei/p379/se-image-eaae26f4a16b197d03857f0cdc3956a4.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width:1201px) {
  .life_banner {
    background: url("https://www.bugatti.com/fileadmin/_processed_/sei/p379/se-image-0d7261fa14f16e9777c42376e7dc05f8.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px;
  }
}
.life_banner h1 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}
@media (min-width:768px) and (max-width:1200px) {
  .life_banner h1 {
    font-size: 4em !important;
  }
}
@media (min-width:1201px) {
  .life_banner h1 {
    font-size: 5em !important;
  }
}
.life_banner h1 span {
  display: block;
  text-indent: 5em;
}
@media (max-width:991px) {
  .life_banner h1 span {
    text-indent: 2em;
  }
}

/************** wear section ****************/
.enjoy .content, .marvel .content, .bugatti_style .content, .surround .content, .wear .content {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width:1200px) {
  .enjoy .content, .marvel .content, .bugatti_style .content, .surround .content, .wear .content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.enjoy .content .info, .marvel .content .info, .bugatti_style .content .info, .surround .content .info, .wear .content .info {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.enjoy .content .info h1, .marvel .content .info h1, .bugatti_style .content .info h1, .surround .content .info h1, .wear .content .info h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.enjoy .content .info h1 span, .marvel .content .info h1 span, .bugatti_style .content .info h1 span, .surround .content .info h1 span, .wear .content .info h2 span {
  display: block;
  text-indent: 0.8em;
  font-weight: 400;
  color: #4d4d4d;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}

.enjoy .content .info p, .marvel .content .info p, .bugatti_style .content .info p, .surround .content .info p, .wear .content .info p {
  color: #4d4d4d;
  margin: 20px 0;
  cursor: pointer;
}

.enjoy .content .info p i, .marvel .content .info p i, .bugatti_style .content .info p i, .surround .content .info p i, .wear .content .info p i {
  margin-right: 15px;
}

.wear .content .info p:hover {
  text-decoration: underline;
}

.surround .content .info p:hover {
  text-decoration: underline;
}

.bugatti_style .content .info p:hover {
  text-decoration: underline;
}

.marvel .content .info p:hover {
  text-decoration: underline;
}

.enjoy .content .info p:hover {
  text-decoration: underline;
}

/*************** partner*************/
.partner {
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px 0;
  overflow: hidden;
}
.partner h1 span {
  display: block;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  font-style: italic;
  text-indent: 2em;
}
.partner .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2000px;
  overflow: hidden;
}
.partner button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 10px 50px;
  font-size: 1.2em;
  margin-top: 50px;
  cursor: pointer;
}
.partner button:hover {
  background-color: black;
  color: white;
}